<% layout('/layouts/boilerplate') %>
<body>
    <h1>All Listings</h1>
    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-2">
   <% for(let list of allListings){ %>

     <a href="/listings/<%= list._id%>">    
 <div class="card col" style="width: 15rem;">
  <img src="<%= list.imageUrl%>" class="card-img-top" alt="..." style="height:15rem;">
  <div class="card-body">
    <h5 class="card-title"><%= list.title.slice(0,12).concat("...") %></h5>
    <p class="card-text">&#8377;<%= list.price.toLocaleString("en-IN")%>/month</p>
    
  </div>
</div></a> 
  <% } %>
</div>
</body>





<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html>