<% layout('/layouts/boilerplate') %>

<body style="text-align: start;">
    
    <h1 style="text-align: center;">ADD THE DETAILS !</h1>
       
    <div class="mb-3" style="justify-self: center; border: 1px solid black; padding: 10px 10px 50px 10px;">
    <h3 style="text-align: center;"> Listing Form</h3>
    <form method="post" action="/listings" class="row g-3 needs-validation" novalidate>

      <div class="row g-3" style="display: flex;">
        <div class="col">
          <label for="inputTitle" class="form-label">Title</label>
          <input type="text" name="listing[title]" class="form-control" id="inputTitle" placeholder="title" aria-label="title" required>
         <div class="invalid-feedback">
          Please provide a valid title.
       </div>
       <div class="valid-feedback">
         Looks good!</div>
        </div> &nbsp;
        <div class="col">
          <label for="inputPrice" class="form-label">Price</label>
          <input type="number" min="0" name="listing[price]" class="form-control" id="inputPrice" placeholder="price" aria-label="price" required>
        <div class="invalid-feedback">
          Please provide a valid Price.
       </div>
       <div class="valid-feedback">
         Looks good!</div>
        </div>
      </div>
      <div class="col">
        <label for="inputImageUrl" class="form-label">Image URL</label><br>
    <input type="text" name="listing[imageUrl]" class="form-control" id="inputImageUrl" placeholder="Image URL" aria-label="Image URL" required>
    <div class="invalid-feedback">
          Please provide a valid Image URL.
       </div>
       <div class="valid-feedback">
         Looks good!</div>
  </div>
<div class="mb-3">
    <label for="inputAddress" class="form-label">Describe</label><br>
<div>
    <textarea name="listing[description]" class="form-control" id="inputAddress" placeholder="description" required></textarea>
  <div class="invalid-feedback">
          Please provide aDescription.
       </div>
       <div class="valid-feedback">
         Looks good!</div>
  </div>
</div>
<div class="row g-3" style="display: flex;">
  <div class="col">
    <label for="inputCountry" class="form-label">Country</label><br>
    <input type="text" name="listing[country]" class="form-control" id="inputCountry" placeholder="country" aria-label="country" required>
<div class="invalid-feedback">
          Please provide a country name.
       </div>
       <div class="valid-feedback">
         Looks good!</div>

  </div>&nbsp;
  <div class="col">
    <label for="inputLocation" class="form-label">City</label><br>
    <input type="text" name="listing[location]" class="form-control" id="inputLocation" placeholder="city" aria-label="city" required>
  
  <div class="invalid-feedback">
          Please provide a location.
       </div>
       <div class="valid-feedback">
         Looks good!</div>
  
        </div>
</div>


<br>
<div class="col-12">

<button type="submit"  
class="btn btn-primary" 
style="background-color: rgb(27, 27, 32); 
 border: none;
 color: white; 
 height: 1.8rem;
 border-radius: 0.5rem; 
text-align: center;">
 ADD
</button>

</div>
</form>
    
</div>

</body>
</html>